body{
    margin: 0;
       padding: 0;
       background: url(../img/pexels-felix-mittermeier-956999.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size:cover ;
       height: 100vh;
    }
    .center{
    width:450px;
    background:linear-gradient(125deg, rgb(3,2,1),rgb(82, 80, 78),rgb(22, 11, 1));
    border-radius: 10px;
    border: 1px solid ;
    color: rgb(10, 230, 29);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    font-family: montserrat;
    
    }
    h1{
        text-align: center;
        padding:-10px 0 30px 0;
     border-bottom:1px solid silver;
     pointer-events: none;

    }
    .center form{
        margin-left: 30px;
        
        
    }
    .center form p{
       margin: 0;
       padding: 0;
       font-weight: bold ;
       
       

    }
    .center input{
            width: 410px;
            margin-bottom: 20px;
            border: none;
            background: transparent;
            border-bottom: 1px solid rgb(221, 0, 250);
            outline: none;
            height: 30px;
            color: #fff;
            font-size: 16px;
          
    }
     button{
          width: 410px;
          height: 50px;
          background: linear-gradient(120deg ,rgb(20, 7, 206), rgba(194, 9, 55, 0.979),rgb(51, 243, 3));
          border: 1px solid;
          font-family: montserrat;
          font-size: 22px;
          border-radius: 25px;
         outline: none;
         
         cursor: pointer;
         font-weight: 700;

    }
 button:hover{
         border-color: #ebecf1;
         transition: .5s;
 }
  
 .member {
     text-align: center;
   
 }

  .member a{
      font-size: 16px;
      text-decoration: none;
      font-weight: 700;
      color: crimson;
      
 }
 a:hover{
     text-decoration: underline rgb(13, 243, 224);
     cursor: pointer;
    
 }